/* Styles for Mobile View */
@media (max-width: 768px) {
  .quiz-container {
    width: 100%;
    padding: 20px;
    background: #041325;
  }

  .quiz-inner-container {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
  }

  .question-text {
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
  }

  .option {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
  }

  /* Additional mobile styles */
}

/* Styles for Desktop View */
@media (min-width: 769px) {
  .quiz-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background: #041325;
  }

  .outer-container{

    background: #041325;
      padding: 100px;
      max-width: 1000px; 
      margin: 0 auto;
      border-radius: 15px;
      position: relative;
  }

  .quiz-inner-container {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
  }

  .question-text {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
  }

  .option {
    font-size: 1.5rem;
    padding: 15px;
    margin-bottom: 20px;
  }

  /* Adjust grid for desktop */
  div[style*="grid-template-columns"] {
    grid-template-columns: repeat(2, 1fr);
  }
}
